.DS_Store
*.[oa]
*~
*.mod
*.exe
a.out
salida*
wrfche*
*.log
libnetcdf*
02_aemis/A*csv
04_temis/TA*txt
05_semisM/M_*.txt
06_temisM/TM*.txt
07_puntual/T_ANN*.txt
08_spec/RADM-2*
08_spec/SAP*
09_pm25spec/*A.txt
09_pm25spec/*P.txt
09_pm25spec/*M.txt
TB*.txt
