.DS_Store
01_pob/.DS_Store
02_aemis/.DS_Store
02_aemis/A*csv
03_movilspatial/.DS_Store
04_temis/.DS_Store
05_semisM/.DS_Store
06_temisM/.DS_Store
07_puntual/.DS_Store
08_spec/.DS_Store
09_pm25spec/.DS_Store
10_storage/.DS_Store
12_biogenic/.DS_Store
10_storage/wrfchemi*
*.[oa]
*.mod
*~
